<!-- src/app/app.component.html -->

<div class="app-container">
  <header>
    <h1>Nombre de tu aplicación</h1>
  </header>

  <main>
    <section class="employee-list">
      <h2>Lista de Empleados</h2>
      <ul>
        <li *ngFor="let empleado of empleados" (click)="toggleDetails(empleado.nombre)">
          {{ empleado.nombre }} {{ empleado.apellidop }} {{ empleado.apellidom }}
          <div *ngIf="empleado.nombre === empleadoSeleccionado" class="employee-details">
            <p>ID: {{ empleado.id }}</p>
            <p>Nombre: {{ empleado.nombre }}</p>
            <p>Apellido Paterno: {{ empleado.apellidop }}</p>
            <p>Apellido Materno: {{ empleado.apellidom }}</p>

            <button class="button" (click)="simular('ausencia', empleado.id)">Simular ausencia</button>
            <button class="button" (click)="simular('sobrecarga', empleado.id)">Simular sobrecarga</button>
            <button class="button" (click)="simular('acceso', empleado.id)">Simular acceso no autorizado</button>
          </div>
        </li>
      </ul>
    </section>

  </main>
</div>
